body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #666;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


section.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: #ffffff;
    padding: 2px;
}

article {
    flex: 2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
}
